.dashboard {
  // padding-top: 40px;
  // padding-bottom: 120px;

  @media (max-width: 800px) {
    // padding-bottom: 32px;
    padding-top: 0;
  }
  
  &__mainimg {
    width: 100%; /* Адаптивний розмір */
    height: auto; /* Зберігає пропорції */
    padding: 75px 0px 0px 0px;
  }

  &__stage {
    padding: 80px 0;
    background-image: url(/img/stage.jpg);
    background-size: cover;
    background-position: center;

    &__containernew {
      max-width: 1560px;
      margin: 0 auto;
      padding: 0 30px;

      &__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -5px;

        &__title {
          margin: 5px 20px 0 0;
          font-size: 50px;
          font-weight: 700;
          line-height: 117%;
          font-family: EuropeExt, sans-serif;
          // color: white;
        }
        &__desc {
          margin-top: 5px;
          font-size: 20px;
          line-height: 160%;
          color: rgba(255, 255, 255, .5);
        }
      }
      &__items {
        width: 100%;
        display: flex;
        transform: none;
        column-gap: 0;
        padding: 0 2%;
        margin-top: 7px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% - 60px);
        counter-reset: num;
        -webkit-transform: translateX(37px);
        -ms-transform: translateX(37px);
        transform: translateX(37px);

        &__item {
          min-height: 182px;
          padding: 0 50px;
          background: #fff;
          flex: 0 0 auto;
          width: calc((100% + (1.9% * 6)) / 3);
          margin: 0 -1.9%;
          clip-path: polygon(13% 0, 100% 0%, 87% 100%, 0% 100%);
          transform: none;

          &:nth-child(3n) {
            width: calc((100% + (1.9% * 6)) / 3);
            margin: 40px -2% 0;
          }

          &:before {
            opacity: 1;
            position: relative;
            float: left;
            z-index: initial;
            left: auto;
            right: auto;
            top: auto;
            width: 13%;
            height: calc(100%);
            transform: none;
            shape-outside: polygon(0 0, 100% 0, 0 100%, 0 0);
            background: none;
          }

          &::after {
            content: counter(num);
            counter-increment: num;
            position: absolute;
            right: -15px;
            top: 20px;
            font-weight: 700;
            font-size: 96px;
            line-height: 87%;
            color: rgba(43, 39, 39, .1);
            right: 20px;
            font-family: EuropeExt, sans-serif;
          }

          &__in {
            padding-top: 36px;
            padding-bottom: 36px;
            position: relative;

            &__title {
              min-height: 1px;
              font-size: 25px;
              line-height: normal;
              margin-bottom: 10px;
              padding-right: 10px;
              font-family: EuropeExt, sans-serif;
              font-weight: 700;
            }

            &__desc {
              line-height: normal;
              color: #2A2727;
              margin-top: auto;
              font-style: italic;
              padding-right: 30px;
            }
          }
        }
      }
    }
  }

  &__advantages {
    padding: 80px 0 88px;

    &__containernew {
      max-width: 1560px;
      margin: 0 auto;
      padding: 0 30px;

      &__advantagestop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -5px;

        &__title {
          margin: 5px 20px 0 0;
          font-size: 50px;
          color: white;
        }
        &__desc {
          margin-top: 5px;
          font-size: 20px;
          line-height: 160%;
          color: rgba(255, 255, 255, .5);
        }
      }
      &__items {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 104px 30px;
        
        &__item {
          padding-left: 39px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 19px;
            height: 56px;
            background-image: url(/img/line-red.svg);
            display: block;
            background-size: 100% auto;
          }

          &__itemtitle {
            font-size: 20px;
            line-height: 110%;
            color: white;
            font-family: EuropeExt, sans-serif;
          }

          &__itemdesc {
            margin-top: 10px;
            color: rgba(255, 255, 255, .5);
            font-size: 16px;
            line-height: 150%;
            font-family: EuropeExt, sans-serif;
          }
        }
      }
    }
  }

  &__main {
    background-color: #2b2727;
    &__props {
      padding: 80px 0;

      &__containernew {
        max-width: 1560px;
        margin: 0 auto;
        padding: 0 30px;

        &__props__inner {
          display: -webkit-box;
          display: -ms-flexbox;
          display: grid;
          grid-template-columns: .5fr 0.6fr 1fr .6fr;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;

          &__item {
            padding: 0px 22px 0 16px;
            position: relative;

            &:nth-child(1) {
              padding-left: 0
            }

            &:last-child {
              padding-right: 0
            }

            &:not(:last-child):after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              width: 20px;
              height: 111px;
              background-image: url(/img/line.svg);
              display: block
            }
    
            &__title {
              font-family: Montserrat,sans-serif;
              color: white;
              max-width: 350px;
              text-transform: uppercase;
              font-style: italic;
              font-weight: 700;
              font-size: 27px;
              line-height: 30px;
            }
            &__info {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              margin-top: 10px;
              align-items: center;

              &__num {
                font-family: Tactic,sans-serif;
                color: #ed1b24;
                font-weight: 700;
                font-size: 55px;
                line-height: 39px;
                font-style: italic;
                white-space: nowrap;

                span {
                  font-size: 30px
                }
              }

              &__desc {
                font-weight: 700;
                font-size: 20px;
                line-height: 112%;
                max-width: 68px;
                margin-left: 10px;
                color: #D83732;
                font-style: italic
              }
            }
          }
        }
      }
    }
  }

  &__alert {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 48px;
    padding-right: 55px;

    @media (max-width: 510px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 8px;
    }

    &.dark_mode {
      background-color: #2d2d2d;
    }

    &__left {
      display: flex;
      flex-direction: column;

      @media (max-width: 510px) {
        margin-bottom: 16px;
        align-items: center;
      }

      span {
        color: #2d2d2d;

        &:first-child {
          margin-bottom: 5px;
        }
      }

      &.dark_mode span {
        color: #f2f2f2;
      }
    }

    &__right {
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: 510px) {
        width: 100%;
      }
    }

    &__btn_cart,
    &__btn_order {
      text-align: center;
      font-size: 18px;
      padding: 8px 40px;
      border-radius: 4px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &__btn_cart {
      margin-right: 24px;
      background-color: #ebf5fd;
      border: 1px solid #1c629e;
      color: #1c629e;

      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }

    &__btn_order {
      background-color: #1c629e;
      color: #f2f2f2;
    }

    &__btn_close {
      cursor: pointer;
      margin: 0;
      padding: 0;
      background-color: transparent;
      border: none;
      position: absolute;
      right: 15px;
      top: 5px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 18px;
        border-radius: 3px;
        background-color: #1c629e;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__brands {
    margin-bottom: 48px;

    @media (max-width: 800px) {
      margin-bottom: 32px;
    }

    @media (max-width: 468px) {
      margin-bottom: 64px;
    }

    &__slider {
      display: flex;
      align-items: center;
      position: relative;
      height: 150px;
      padding: 50px 89px;
      margin: 50px 0px;

      @media (max-width: 800px) {
        height: 140px;
        padding: 0px;
        margin: 0px;
      }

      &__arrow {
        // background-color: #ffffff;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 50%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        width: 50px;
        height: 50px;
        position: absolute;
        // top: 17px;
        z-index: 5;
        transition: background-color 0.2s ease-in-out;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

        @media (max-width: 800px) {
          display: none;
        }

        &:hover {
          background-color: #ff0000;
          transition: background-color 0.2s ease-in-out;
        }

        span {
          width: 100%;
          height: 100%;
          display: block;
          position: relative;

          svg {
            fill:rgba(255, 255, 255, .5);
            position: absolute;
            top: 16px;
            left: 16px;
          }
        }

        &.dark_mode {
          background-color: #4e4c4c;

          span svg {
            fill: #f2f2f2;
          }

          &:hover {
            background-color: #2d2d2d;
            transition: background-color 0.2s ease-in-out;
          }
        }
      }

      &__arrow_prev {
        left: 8px;

        span svg {
          transform: rotate(180deg);
        }
      }

      &__arrow_next {
        right: 8px;
      }

      .slick-slide {
        margin: 0 10px !important;
      }
      .slick-list {
        // height: 180px !important;
      }
    }

    &__slide {
      height: 150px;
      display: flex !important;
      align-items: center !important;
      max-height: 150px;
      border-radius: 4px;
      overflow: hidden;
      user-select: none;
      // box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      padding: 12px;
      // border: 1px solid white;

      @media (max-width: 800px) {
        height: 148px;
      }

      img {
        width: 100%;
      }

      &.dark_mode {
        background-color: #2d2d2d;
      }
    }
  }

  &__title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 55px;
    margin: 0;
    margin-bottom: 48px;
    color: #2d2d2d;

    @media (max-width: 800px) {
      font-size: 42px;
    }

    @media (max-width: 468px) {
      display: none;
    }

    &.dark_mode {
      color: #f2f2f2;
    }
  }

  &__slider {
    // margin-bottom: 80px;
    // padding: 50px 0;

    @media (max-width: 800px) {
      margin-bottom: 33px;
    }
  }

  &__slide {
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin: 5px;
    // padding: 24px 16px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    // height: 500px;
    // display: flex;
    border: 1px solid #3a3a3a;
    background-color: #232323;
    min-height: 580px;
    position: relative;

    span {
      color: #7b7b7b;
    }

    @media (max-width: 560px) {
      min-height: auto;
    }

    &:hover {
      transform: scale(1.03);
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    img {
      width: 100%;
      // height: 184px;
      // margin: 24px;
      padding: 20px;

      @media (max-width: 560px) {
        // height: 99px;
        margin-bottom: 16px;
        padding: 0px;
      }
    }

    &__text {
      font-size: 16px;
      margin-bottom: 10px;
      font-family: MontserratRegular, sans-serif;
      color: white;

      @media (max-width: 560px) {
        font-size: 12px;
      }

      &__on {
        color: green;
      }

      &__off {
        color: red;
      }
    }

    &__inner {
      margin: 10px;
    }

    &__title {
      margin: 0;
      font-weight: 400;
      margin-bottom: 24px;
      padding-bottom: 24px;
      font-size: 24px;
      color: #f2f2f2;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border-bottom: 1px solid #3a3a3a;
      font-family: EuropeExtBold, sans-serif;

      @media (max-width: 560px) {
        font-size: 15px;
        margin-bottom: 16px;
      }
    }

    &__code {
      display: block;
      margin-bottom: 24px;
      font-size: 14px;
      color: #7b7b7b;

      @media (max-width: 560px) {
        font-size: 13px;
        margin-bottom: 16px;
      }
    }

    &__price {
      font-weight: 500;
      font-size: 24px;
      color: #f2f2f2;
      font-family: EuropeExtBold, sans-serif;
      // margin-top: 20px;
      padding: 10px 0;
      // position: absolute;
      // left: 10px;
      // bottom: 0;

      @media (max-width: 560px) {
        font-size: 17px;
      }
    }

    &.dark_mode &__title {
      color: #f2f2f2;
    }

    &.dark_mode &__code {
      color: #7b7b7b;
    }

    &.dark_mode &__price {
      color: #f2f2f2;
    }

    &.dark_mode {
      background-color: #2d2d2d;
    }
  }

  &__parts {
    &__title {
      font-family: 'Raleway';
      font-weight: 500;
      font-size: 36px;
      margin: 0;
      margin-bottom: 40px;
      color: #2d2d2d;

      &.dark_mode {
        color: #f2f2f2;
      }

      @media (max-width: 800px) {
        margin-bottom: 16px;
        font-size: 22px;
      }
    }
  }

  &__about {
    &__title {
      margin-bottom: 48px;

      @media (max-width: 800px) {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

    &__text {
      margin: 0;
      font-size: 14px;
      max-width: 1076px;
      line-height: 22px;
      color: #4e4c4c;

      &.dark_mode {
        color: #f2f2f2;
      }
    }
  }
}
